


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Authors</title>
    <link rel="stylesheet" href="{{ asset('admin.css') }}">
</head>

<body>
<header>
    <ul>
        <li><a href={{ path("books") }}>Books</a></li>
        <li><img src="https://www.freeiconspng.com/uploads/open-book-icon-17.png"></li>
        <li><a href={{ path("authorslist") }}>Authors</a></li>
    </ul>
</header>

<h2>Authors</h2>

{% block content %}
{% endblock content %}

<footer>
    <span>FOOTER</span>
</footer>


</body>
</html>
