*{
    margin: 0;
}

header{
    background-color: #6b4e4e;
    text-align: center;
    padding: 2%;
}

h2{
    text-align: center;
    padding-top: 2%;
}

.authors{
    text-align: center;
    padding-top: 2%;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.author{
    width: 33%;
    padding-top: 5%;
}



.text{
    width: 45%;
    margin: 0 auto;
    padding-top: 2%;
}

a{
    padding-top: 5px;
}

footer{
    background-color: #6b4e4e;
    text-align: center;
    padding: 1%;
    margin-top: 45%;
}

/* BOOKS */

.books{
    text-align: center;
    padding-top: 20%;
    display: flex;
    margin: 0;
    flex-wrap: wrap;
}

.book{
    width: 25%;

}

.book2{
    text-align: center;
    padding-top: 2%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 20%;
    padding-top: 20%;
}