{% extends 'BaseAdmin.html.twig' %}

{% block content %}
    <div class="authors">
        {% for author in authors %}


            <div class="author">
                <p>Nom : {{ author.firstname }}</p>
                <p>Prénom : {{ author.lastname }}</p>
                <p>Biography : {{ author.biography }}</p>
                <a href="{{ path('AdminAuthorsDelete', {'id' : author.id}) }}"> Supprimer cette auteur </a>
            </div>


        {% endfor %}
    </div>
{% endblock content %}