{% extends 'admin/BaseAuthors.html.twig' %}

{% block content %}

    <div class="authors">
        <p>Nom : {{ author.firstname }}</p>
        <p>Prénom : {{ author.lastname }}</p>
        <p>{{ author.birthdate | date("d/m/Y") }}</p>
        <p class="text">Biographie : {{ author.biography }}</p>
    </div>


{% endblock content %}