{% extends 'BaseBooks.html.twig' %}


{% block content %}
    <div class="book2">
        <p>Titre : {{ book.title }}</p>
        <p>Genre : {{ book.genre }}</p>
        <p>Nombre de pages : {{ book.NbPages }}</p>
    </div>

{% endblock content %}