{% extends "base/BaseBooks.html.twig" %}

{% block content %}

        <div>
                {% for book in genre.books %}
                        <p>{{ book.title }}</p>
                        <p>{{ book.NbPages }}</p>
                        <p>{{ book.resume }}</p>
                {% endfor %}
        </div>

        <p>{{ genre.name }}</p>

{% endblock content %}