{% extends 'BaseBooks.html.twig' %}

{% block content %}
    <div class="books">
        {% for book in books %}


            <div class="book">
                <p>Titre : {{ book.title }}</p>
                <p>Genre : {{ book.genre }}</p>
                <p>Nombres de pages : {{ book.NbPages }}</p>
                <a href="{{ path('book', {'id' : book.id}) }}"> Voir ce livre </a>
            </div>


        {% endfor %}
    </div>
{% endblock content %}