{% extends 'BaseBooks.html.twig' %}

{% block body %}

    <main>

        <form action="" method="get">
            <label for="">Recherche</label>
            <input name="search" type="text">
        </form>

        {% for book in books %}

            <article>
                <h2>{{ book.title }}</h2>
                <p>Genre : {{ book.genre }}</p>
                <p>Résumé : {{ book.resume }}</p>
            </article>

        {% endfor %}

    </main>

{% endblock body %}