{% extends 'base/BaseBooks.html.twig' %}


{% block content %}
    <div class="block">
        <p>Titre : {{ book.title }}</p>
        <p>Genre : {{ book.genre.name }}</p>
        <p>Nombre de pages : {{ book.NbPages }}</p>
    </div>

{% endblock content %}