{% extends "base/BaseBooks.html.twig" %}

{% block content %}

    <ul>
    {% for genre in genres %}


            <li><a href="{{ path('BooksGenres2', {'id' : genre.id}) }}">{{ genre.name }}</a></li>


    {% endfor %}
    </ul>
{% endblock content %}