{% extends 'base/BaseBooks.html.twig' %}

{% block content %}
    <div class="container">
    {% for book in books %}


    <div class="block">
        <p>Titre : {{ book.title }}</p>
        <p>Genre : {{ book.genre.name }}</p>
        <p>Nombres de pages : {{ book.NbPages }}</p>
        <a href="{{ path('book', {'id' : book.id}) }}"> Voir ce livre </a>
    </div>


        {% endfor %}
    </div>
{% endblock content %}
